<!DOCTYPE html>

<html lang="en">

  <head>

    <meta charset="utf-8">
    
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">
    
    <title>Scuole</title>
    
    <style>
      #tornaSopra {
        display: none;
        position: fixed;
        bottom: 20px;
        left: 30px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: red;
        color: white;
        cursor: pointer;
        padding: 15px;
        border-radius: 4px;
      }

      #tornaSopra:hover {
        background-color: #555;
      }
      
      div.sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        background-color: yellow;
        padding: 10px;
        font-size: 15px;
      }
      
      .affix {
        top: 20px;
        z-index: 9999 !important;
      }  
    </style>
  </head>

  <body>
    
    <div class="jumbotron text-center">
      <h1>Indice scuole paritarie</h1>

      <!-- chiamata all'endpoint per caricare i dati dal csv -->
  <!--    <script>
        window.addEventListener('load', caricaDati);
            
        async function caricadati() {
          const response = await fetch('/scuole');
       }
      </script> -->
    </div>
    
    <div class="container">
      
      <div class="row">
        <div class="col-sm-8">
          <h1>
            Dati raccolti:  
          </h1>
          <input type="submit" value="visualizza tabella" id="visualizzatore">
          <p id="tabella">

            <!-- chiamata all'endpoint per visualizzare la tabella con tutti i dati -->
            <script>
              var bottone = document.getElementById("visualizzatore");
              bottone.addEventListener('click', caricaTabella);

              async function caricaTabella() {
                const response = await fetch('/tabella');
                document.getElementById("tabella").innerHTML = await response.text();
              }
            </script>
            
          </p>
        </div> <!-- div prima colonna --> 
        <nav class="col-sm-4">
          <ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="205">

          <h1> 
            Inserisci/ modifica una scuola:
          </h1>
            <p>
              Riga da modificare:
              <input type="text" id="index">
            </p>
            <p>
              Identificativo:
              <input type="text" id="id">
            </p>
            <p>
              Grado:
              <input type="text" id="grado">
            </p>
            <p>
              Anno di corso:
              <input type="text" id="AnnoDiCorso">
            </p>
            <p>
              Classi:
              <input type="text" id="classi">
            </p>
            <p>
              Numero di alunni maschi:
              <input type="text" id="maschi">
            </p>
            <p>
              Numero di alunne femmine:
              <input type="text" id="femmine">
            </p>
            <input type="submit" value="Inserisci scuola" id="inserimento">
            <p id="addBox"> </p>
            <!-- bottone per la modifica -->
            <input type="submit" value="Modifica scuola" id="modifica">
            (Necessario l'indice da voler modificare)
            <p id="updateBox"> </p>

          <h1>
            Rimuovi un record dalla tabella:
          </h1>
          <p>
            <input type="text" id="indice">
          </p>
          <input type="submit" value="Elimina scuola" id="eliminazione">
          <p id="removeBox"> </p>
          </ul>
        </nav>

          <!-- chiamata all'endpoint per eliminare una scuola -->
          <script>
            var eliminazione = document.getElementById("eliminazione");
            eliminazione.addEventListener('click', rimuoviScuola);
            
            async function rimuoviScuola() {
              posizione = document.getElementById("indice").value;
              let data = {
                            position: posizione
                         };
              const setting = {
                                  method: 'DELETE',
                                  headers: {
                                              Accept: 'application/json',
                                              'Content-Type': 'application/json',
                                            },
                                  
                                };
              if(posizione != ""){
                const response = await fetch('/remove?position=' + posizione, setting);
                document.getElementById("removeBox").innerHTML = await response.text();
                <!-- ricarico la tabella -->
                const responseTable = await fetch('/tabella');
                document.getElementById("tabella").innerHTML = await responseTable.text();
              } else {
                alert("Campa invalido!");
              }
            }
          </script>
        
          <!-- chimata all'endpoint per inserire una nuova scuola -->
          <script>
              var inserimento = document.getElementById("inserimento");
              inserimento.addEventListener('click', aggiungiScuola);

              async function aggiungiScuola() {
                var id = document.getElementById("id").value;
                var annoCorso = document.getElementById("AnnoDiCorso").value;
                var grado = document.getElementById("grado").value;
                var classi = document.getElementById("classi").value;
                var maschi = document.getElementById("maschi").value;
                var femmine = document.getElementById("femmine").value;
                let data = {
                            Id: id,
                            Grado: grado,
                            AnnoCorsoClasse: annoCorso,
                            Classi: classi,
                            AlunniMaschi: maschi,
                            AlunneFemmine: femmine
                           };
                if(id != "" && grado != "" && classi != "" && maschi != "" && femmine != ""){
                  const setting = {
                                    method: 'POST',
                                    headers: {
                                                Accept: 'application/json',
                                                'Content-Type': 'application/json',
                                              },
                                    body: JSON.stringify(data)
                                  };
                  const response = await fetch('/add', setting);
                  document.getElementById("addBox").innerHTML = await response.text();
                  <!-- ricarico la tabella -->
                  const responseTable = await fetch('/tabella');
                  document.getElementById("tabella").innerHTML = await responseTable.text();
                } else {
                  alert("Non si accettano campi vuoti!");
                }
              }
          </script>
    <!--      
          <h1>
            Modifica un campo della tabella (con indice):
          </h1>
          
          <p>
            Indice della tabella che si vuole modificare:
            <input type="text" id="index">
          </p>
          <p>
            Identificativo:
            <input type="text" id="idUpdate">
          </p>
          <p>
            Anno di corso:
            <input type="text" id="AnnoDiCorso">
          </p>
          <p>
            Grado:
            <input type="text" id="gradoUpdate">
          </p>
          <p>
            Classi:
            <input type="text" id="classiUpdate">
          </p>
          <p>
            Numero di alunni maschi:
            <input type="text" id="maschiUpdate">
          </p>
          <p>
            Numero di alunne femmine:
            <input type="text" id="femmineUpdate">
          </p>
          <input type="submit" value="Modifica scuola" id="modifica">
          <p id="updateBox"> </p>
          -->
        
          <!-- chimata all'endpoint per modificare un record della tabella -->
          <script>
              var modifica = document.getElementById("modifica");
              modifica.addEventListener('click', modificaScuola);

              async function modificaScuola() {
                var index = document.getElementById("index").value;
                var id = document.getElementById("id").value;
                var annoCorso = document.getElementById("AnnoDiCorso").value;
                var grado = document.getElementById("grado").value;
                var classi = document.getElementById("classi").value;
                var maschi = document.getElementById("maschi").value;
                var femmine = document.getElementById("femmine").value;
                let data = {
                            Id: id,
                            Grado: grado,
                            AnnoCorsoClasse: annoCorso,
                            Classi: classi,
                            AlunniMaschi: maschi,
                            AlunneFemmine: femmine
                           };
                if(index != "" && id != "" && grado != "" && classi != "" && maschi != "" && femmine != ""){
                  const setting = {
                                    method: 'PUT',
                                    headers: {
                                                Accept: 'application/json',
                                                'Content-Type': 'application/json',
                                              },
                                    body: JSON.stringify(data)
                                  };
                  const response = await fetch('/update?position=' + index, setting);
                  document.getElementById("updateBox").innerHTML = await response.text();
                  <!-- ricarico la tabella -->
                  const responseTable = await fetch('/tabella');
                  document.getElementById("tabella").innerHTML = await responseTable.text();
                } else if(index == ""){
                  alert("Necessario l'indice del record da modificare");
                } else {
                  alert("Non si accettano campi vuoti!");
                }
              }
          </script>
         
        </div>
      </div>
  
   <!-- Bottone per tornare in cima -->
   <button onclick="topFunction()" id="tornaSopra" title="Torna in cima">Top</button>
   <script>
      var mybutton = document.getElementById("tornaSopra");

      window.onscroll = function() {scrollFunction()};

      function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          mybutton.style.display = "block";
        } else {
          mybutton.style.display = "none";
        }
      }

      function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      }
    </script>
  
  </body>

</html>
