<!DOCTYPE html>

<html lang="en">

  <head>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="A cool thing made with Glitch">
    
    <title>Scuole</title>


  </head>

  <body>
    
    <div class="jumbotron text-center">
      <h1>Indice scuole paritarie</h1>
      <p>Clicca sul bottone per inizializzare il server!</p> 
      <p>
        <form action="https://superficial-capable-beam.glitch.me/scuole" method="GET">
          <input type="submit" value="richiesta inizializzazione">
        </form>
      </p>
    </div>
    
    <div class="container">
      <div class="row">
        <div class="col-sm-4" id="tabella">
          <p>
             <h1>
               Dati raccolti:  
             </h1>
            <form action="https://superficial-capable-beam.glitch.me/tabella" method="GET">
              <input type="submit" value="visualizza tabella">
            </form>
          </p>
        </div>
        <div class="col-sm-4">
          <p>
            seconda colonna.
          </p>
        </div>
        <div class="col-sm-4">
          <p>
            terza colonna
          </p>
        </div>
      </div>
      
    </div>
    
  
    
  </body>

</html>
