<!DOCTYPE html>

<html lang="en">

  <head>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="A cool thing made with Glitch">
    
    <title>Scuole</title>


  </head>

  <body>
    
    <div class="jumbotron text-center">
      <h1>Indice scuole paritarie</h1>
     <!-- <p>Clicca sul bottone per inizializzare il server!</p> 
      <p>
        <form action="https://superficial-capable-beam.glitch.me/scuole" method="GET">
          <input type="submit" value="richiesta inizializzazione">
        </form>            
      </p>-->

      <script>
        window.addEventListener('load', caricaTabella);
            
        async function caricaTabella() {
          const response = await fetch('/scuole');
       }
      </script>

    </div>
    
    <div class="container">
      
      <div class="row">
        <div class="col-sm-4">
          <h1>
            Dati raccolti:  
          </h1>
          <input type="submit" value="visualizza tabella" id="visualizzatore">
          <p id="tabella">
             
           <!-- <form action="https://gestione-scuole.glitch.me/tabella" method="GET"> -->

       <!--     </form> -->
            <script>
              var bottone = document.getElementById("visualizzatore");
              bottone.addEventListener('click', caricaTabella);

              async function caricaTabella() {
                const response = await fetch('/tabella');
                document.getElementById("tabella").innerHTML = await response.text();
              }
            </script>
          </p>
        </div>
        <div class="col-sm-4">
          <h1>
            Inserisci una nuova scuola:
          </h1>
          <p><!--
            <form action="https://progetto-post.glitch.me/addFilm" method="POST">
    
              <div class="form-group">
                <label for="Id">Identificativo: </label>
                <input class="form-control" name="Id">
              </div>

              <div class="form-group">
                <label for="Grado">Grado:</label>
                <input class="form-control" name="Grado">
              </div>

              <div class="form-group">
                <label for="Classi">Classi:</label>
                <input class="form-control" name="Classi">
              </div>

              <div class="form-group">
                <label for="AlunniMaschi">Alunni maschi:</label>
                <input class="form-control" name="AlunniMaschi">
              </div>
              
              <div class="form-group">
                <label for="AlunneFemmine">Alunne femmine:</label>
                <input class="form-control" name="AlunneFemmine">
              </div>
              
              <button type="submit" value="Aggiungi scuola" class="btn" id="add">
          
              </button>

            </form>
          -->
            <p>
              Identificativo:
              <input type="text" id="id">
            </p>
            <p>
              Grado:
              <input type="text" id="grado">
            </p>
            <p>
              Classi:
              <input type="text" id="classi">
            </p>
            <p>
              Numero di alunni maschi:
              <input type="text" id="maschi">
            </p>
            <p>
              Numero di alunne femmine:
              <input type="text" id="femmine">
            </p>
            <input type="submit" value="Inserisci scuola" id="inserimento">
            <p id="addBox"> </p>
            
          
            <script>
              var inserimento = document.getElementById("inserimento");
              inserimento.addEventListener('click', aggiungiScuola);

              async function aggiungiScuola() {
                var id = document.getElementById("id").value;
             <!--   alert(id); -->
                var grado = document.getElementById("grado").value;
                var classi = document.getElementById("classi").value;
                var maschi = document.getElementById("maschi").value;
                var femmine = document.getElementById("femmine").value;
                let data = {
                            Id: id,
                            Grado: grado,
                            Classi: classi,
                            AlunniMaschi: maschi,
                            AlunneFemmine: femmine
                           };
                if(id != "" && grado != "" && classi != "" && maschi != "" && femmine != ""){
                  const setting = {
                                    method: 'POST',
                                    headers: {
                                                Accept: 'application/json',
                                                'Content-Type': 'application/json',
                                              },
                                    body: JSON.stringify(data)
                                  };
                  const response = await fetch('/add', setting);
                  document.getElementById("addBox").innerHTML = await response.text();
                  <!-- ricarico la tabella -->
                  const responseTable = await fetch('/tabella');
                  document.getElementById("tabella").innerHTML = await responseTable.text();
                } else {
                  alert("Non si accettano campi vuoti!");
                }
              }
            </script>
          </p>
        </div>
        <div class="col-sm-4">
          <h1>
            Rimuovi un record dalla tabella:
          </h1>
          <p>
            <input type="text" id="indice">
          </p>
          <input type="submit" value="Elimina scuola" id="eliminazione">
          <p id="removeBox"> </p>
          
          <script>
            var eliminazione = document.getElementById("eliminazione");
            eliminazione.addEventListener('click', rimuoviScuola);
            
            async function rimuoviScuola() {
              posizione = document.getElementById("indice").value;
              let data = {
                            position: posizione
                         };
              const setting = {
                                  method: 'DELETE',
                                  headers: {
                                              Accept: 'application/json',
                                              'Content-Type': 'application/json',
                                            },
                                  
                                };
     <!--         alert(posizione); -->
              if(posizione != ""){
                const response = await fetch('/remove?position=' + posizione, setting);
                document.getElementById("removeBox").innerHTML = await response.text();
              <!--  document.getElementById("indice").innerHTML = " "; -->
                <!-- ricarico la tabella -->
                const responseTable = await fetch('/tabella');
                document.getElementById("tabella").innerHTML = await responseTable.text();
              } else {
                alert("Campa invalido!");
              }
            }
          </script>
          
        </div>
      </div>
      
    </div>
    
  
    
  </body>

</html>
